<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<h1>hello</h1>
	<button type ="button" id ="btn">Rest Name List</button>
	<div id= "result"></div>
	
	<script>
		$("#btn").click(function(){
			// alert("test");
			$("#result").empty();	
		 
			$.ajax({
			      type: "get",
			      url: "/rest/nameList",          
			      success: function (jsonData) {
				jsonData.forEach(function(e) { // e-> 루피, 조로, 나미
					$("#result").append("<div>" +e+ "</div>");
				});
			}
		});
	});
	</script>
</body>
</html>